<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">  <!-- Задание уровня детализации внутренних сообщений Log4j-->

    <!-- Полная информация по Log4l2 доступна по адресу http://logging.apache.org/log4j/2.x/manual/index.html  -->

    <!-- Аппендеры - это объекты которые реализуют вывод данных в Консоль/Файл/БД/Socket/Telnet -->
    <Appenders>
        <!-- Аппендер для вывода в консоль SYSTEM_OUT или SYSTEM_ERR-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Задание шаблона вывода собщения на экран-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{10} - %msg%n"/>
        </Console>
        <RollingFile name="TestLogFile"
                     fileName="logs/test.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- Логгеры - объекты класса Logger которые используются для вывода данных
    и управления уровнем детализации вывода (TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF)  -->
    <Loggers>
        <!-- Root - безымянный стандартный логгер, который будет получать все сообщения от приложение -->
        <Root level="TRACE"> <!-- задание уровня детализации вывода -->
            <AppenderRef ref="TestLogFile"/>
            <AppenderRef ref="Console"/>  <!-- Ссылка на Аппендер, в который будуи выводиться сообщения Логгера-->
        </Root>
    </Loggers>

</Configuration>